.login_container {
    width: 100%;
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

}

.login_logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    position: relative;
    top: 2rem;
    align-items: center;
}

.login_logo img {
    width: 35%;

}

.login_id {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    margin-bottom: 1rem;

}



#form_id {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    padding: 3px 10px;

}

#form_id input:focus {
    border-color: #7d4fff;
    box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

.login_password {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 1rem;

}


#form_password {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    padding: 3px 10px;

}

#form_password input:focus {
    border-color: #7d4fff;
    box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

.loginButton {
    width: 68%;
    height: 40px;
    padding: 0 15px;
    background-color: #7d4fff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.loginButton:hover {
    background-color: #6c3fe4;
  }

.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    gap: 9px;
}

.id_find, .password_find , .signup_button{
    background-color: #ffffff;
}

.id_find:hover{
    color: #7d4fff;
}

.password_find:hover{
    color: #7d4fff;
}

.signup_button:hover{
    color: #7d4fff;
}