.login_container {
    width: 100%;
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.login_logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    position: relative;
    top: 2rem;
    align-items: center;
}

.login_logo img {
    width: 35%;

}

.login_id {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    margin-bottom: 1rem;

}



#form_id {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    padding: 3px 10px;

}

#form_id input:focus {
    border-color: #7d4fff;
    box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

.login_password {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 1rem;

}


#form_password {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    padding: 3px 10px;

}

#form_password input:focus {
    border-color: #7d4fff;
    box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

.loginButton {
    width: 68%;
    height: 40px;
    padding: 0 15px;
    background-color: #7d4fff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.loginButton:hover {
    background-color: #6c3fe4;
  }

.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    gap: 9px;
}

.id_find, .password_find , .signup_button{
    background-color: #ffffff;
}

.id_find:hover{
    color: #7d4fff;
}

.password_find:hover{
    color: #7d4fff;
}

.signup_button:hover{
    color: #7d4fff;
}

.login_api {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 1rem;
    margin: 0;
    padding: 0;
    gap: 3px;


}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


.naver{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.kakao{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.google_button  {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff;
    width: 80%;
    
}

.google_button img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.naver_button {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff;
    width: 80%;
}

.naver_button img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.kakao_button {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff;
    width: 80%;
}

.kakao_button img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}




/* 카카오 로딩 애니메이션*/


/* From Uiverse.io by Nawsome */ 

/*
.pl {
    width: 6em;
    height: 6em;
  }
  
  .pl__ring {
    animation: ringA 2s linear infinite;
  }
  
  .pl__ring--a {
    stroke: #f42f25;
  }
  
  .pl__ring--b {
    animation-name: ringB;
    stroke: #f49725;
  }
  
  .pl__ring--c {
    animation-name: ringC;
    stroke: #255ff4;
  }
  
  .pl__ring--d {
    animation-name: ringD;
    stroke: #f42582;
  }
  
  /* Animations */

  /*
  @keyframes ringA {
    from, 4% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  
    12% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -335;
    }
  
    32% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -595;
    }
  
    40%, 54% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -660;
    }
  
    62% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -665;
    }
  
    82% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -925;
    }
  
    90%, to {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -990;
    }
  }
  
  @keyframes ringB {
    from, 12% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -110;
    }
  
    20% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -115;
    }
  
    40% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -195;
    }
  
    48%, 62% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    70% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    90% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -305;
    }
  
    98%, to {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  }
  
  @keyframes ringC {
    from {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    8% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    28% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    36%, 58% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    66% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    86% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    94%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  @keyframes ringD {
    from, 8% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    16% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    36% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    44%, 50% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    58% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    78% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    86%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }*/