.cursor-pointer {
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.mypage {
  display: flex;  
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.mypage-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 75px; /* 푸터 높이만큼 여백 추가 */
  scrollbar-width: none;
  background-color: #F7F8FA;
}

.mypage-title-btn {
  background: none;
  border: none;
  padding: 0;
}

.mypage-title {
  font-size: 24px;
  font-weight: bold;
}

.notification-icon img {
  width: 24px;
  height: 24px;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 15px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.smile-icon {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.profile-name {
  font-size: 20px;
  font-weight: bold;
}

.profile-edit-btn {
  background-color: #8a2be2;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}

.mypage-menu {
  padding: 16px 0;
}

.menu-group {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 20px;
  margin: 0 16px 12px;
}

.menu-group h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.menu-group ul {
  list-style: none;
  padding: 0;
}

.menu-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.menu-group li span {
  display: flex;
  align-items: center;
}

.menu-group li span img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.menu-arrow {
  width: 16px;
  height: 16px;
}

.logout-section {
  padding: 16px 0;
  text-align: center;
}

.logout-btn {
  background: none;
  border: none;
  font-size: 16px;
  color: #999;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.mypage-header-margin-top{
  height: 70px;
}
.mypage-footer-margin-bottom{
  height: 80px;
}