.SerchBar{
    position: absolute;
    top: 10%;
}
.SerchInput{
    border-radius: 20px;
    border:0px solid;
    padding: 10px;
    max-width: 1000px;
    min-width: 400px;
}
.SerchInput:focus{
    outline: none;
}