
/* sign.css */

/*pages 폴더의 Signup.tsx*/
.pagesSignup {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto;
  width:100%;
  -ms-overflow-style: none;

}

/*스크롤바 없애는 css*/

.pagesSignup::-webkit-scrollbar{
  display:none;
}

/* 기본 구조 */
.signUpForm {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  gap: 20px;
}

.signUpForm input[type="text"], input[type="number"], textarea {
  margin: 0;
  padding: 0;
  padding: 6px;
  /*input 기본 css*/
  /*
  width: 100%;
    padding: 8px 0px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;*/
}

h1.sign_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  position: relatvie;
  margin-top: 14px;
  
}

.sub_Header {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 4px;
  color: #333;
}

.sub_title {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  
}

/*NNIP.tsx에서 쓰던거 삭제*/

/* .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
} */

/* NickName */

.nickName {
  margin-bottom: 13px;
}

.nickName input {
  width: 96%;
  height: 38px;
  padding: 8px 0px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.nickName input:focus {
  border-color: #7d4fff;
  box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

/* ID */
.id-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
}

.idForm {
  flex: 1;
  height: 30px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.idButton {
  height: 44px;
  padding: 0 15px;
  background-color: #7d4fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.idButton:hover {
  background-color: #6c3fe4;
}

.checkedId {
  margin-top: 5px;
  font-size: 12px;
  color: green;
}

/* Password */
.pw {
  margin-bottom: 13px;
}

.pw input {
  width: 96%;
  height: 30px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 9px;
}

.pw input:focus {
  border-color: #7d4fff;
  box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

.pw span {
  font-size: 12px;
  color: red;
}

/* Email */
.emailForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 13px;
}

.email-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.code-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email{
  flex: 1;
  height: 30px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}


.codeAccess {
  flex: 1;
  height: 30px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.email:focus,
.codeAccess:focus {
  border-color: #7d4fff;
  box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

#access {
  height: 48px;
  padding: 0px 15px;
  background-color: #7d4fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: px;
}


#codeCheck {
  height: 44px;
  padding: 0 15px;
  background-color: #7d4fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;

}

#access:hover,
#codeCheck:hover {
  background-color: #6c3fe4;
}

/* Phone */

.phone {
  margin-bottom: 13px;
}

.phone input {
  width: 96%;
  height: 34px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.phone input:focus {
  border-color: #7d4fff;
  box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

/* PostCode */

.kakao_api {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.postCode input {
  width: 80%;
  height: 33px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

.postCode input:focus {
  border-color: #7d4fff;
  box-shadow: 0 0 4px rgba(125, 79, 255, 0.5);
}

.postCode input[type="button"] {
  height: 47px;
  background-color: #7d4fff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.postCode input[type="button"]:hover {
  background-color: #6c3fe4;
}

#address, #detailAddress, #extraAddress {
  margin-bottom: 9px;
  width: 96%;
}

/* Error message */
.error-message span {
  font-size: 12px;
  color: red;
}

/* Submit Button */
.formSubmit-button {
  width: 100%;
  padding: 12px 20px;
  background-color: #7d4fff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 14px;
}

.formSubmit-button:hover {
  background-color: #6c3fe4;
}

.birthDayForm {
  display: flex;
  gap: 2px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 13px;
}

.birth_year {
  width:25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
}

.birth_month {
  width:25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
}

.birth_day {
  width:25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
}

.birth_year::-webkit-scrollbar {
  display: none;
}

.birth_month::-webkit-scrollbar {
  display: none;
}

.birth_day::-webkit-scrollbar {
  display: none;
}

